.spacer {
    height: 150vh;
}

.setcion__header {
    background: linear-gradient(
        90deg, 
      rgba(19, 153, 53, .4),
      rgba(250, 250, 250, .4),
      rgba(250, 250, 250, .4),
      rgba(209, 31, 31, .4)
      ), 
        url("/img/banner-bg.jpg");

    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar .nav {
    text-align: right;
}

.navbar .nav li {
    display: inline-block;
    padding: 1rem;
    border-bottom: 1px solid #FAFAFA;
    color: #444;
    text-decoration: none;
}

.navbar .nav li a {
    color: #444;
    text-decoration: none;
}

.page-title {
    padding: 2rem;
    border-bottom: 1rem solid white;
    text-align: center;
    margin-top: 30vh;
    color: white;
    font-family: 'Mrs Sheppards', cursive;
}

.cta {
    text-align: center;
}

.cta > .button {
    background-color: white;
}