.section--title {
    text-align: center;
    margin-top: 120px;
}

.setcion__header {
    background: linear-gradient(
        90deg, 
      rgba(19, 153, 53, .3),
      rgba(250, 250, 250, .3),
      rgba(250, 250, 250, .3),
      rgba(209, 31, 31, .3)
      ), 
        url("/img/banner-bg--bw.jpg");

    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar .nav {
    text-align: right;
}

.navbar .nav li {
    display: inline-block;
    padding: 1rem;
    border-bottom: 1px solid #FAFAFA;
    color: #444;
    text-decoration: none;
}

.navbar .nav li a {
    color: #444;
    text-decoration: none;
}

.header-title {
    text-align: center;
    color: #FAFAFA;
}

.page-title {
    margin-top: 25%;
    font-family: 'Mrs Sheppards', cursive;
    font-size: 9rem;
    text-shadow: 2px 2px 4px #444;
}

.service {
    transition: all .5s ease-in-out;
}

.service:hover {
   transform: scale(1.1);
   background-color: #FAFAFA
}

.service--description {
    transition: all .5s ease-in-out;
    padding: 1rem;
    text-align: justify;

}

#service-1:hover {
    background-color: rgba(19, 153, 53, .3);

}

#service-2:hover {
    color: #333;
}

#service-3:hover {
    background-color: rgba(209, 31, 31, .3);
}

.service--title {
    text-align: center;
}

.video--description {
    margin-top: 12px;
}

.media--img {
    transition: all .5s ease-in-out;
}

.media--img:hover {
    transform: scale(4.1);
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, .6);
}

.section__footer {
    width: 100%;
    height: 320px;
}

footer {
    background-color: darkred;
    vertical-align: middle;
}

figure {
    position: relative;
    overflow: hidden;
}

figure > img {
    opacity: 0;
}

figure > figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
}